
    <div id="display">
        <p>
            <%= recipe.description %>
        </p>
        <p>
            <%= recipe.instructions %>
        </p>

        <p>Ingredients :</p>
        <ul>
            <% recipe.ingredients.forEach(ingredient=> { %>
                <li>
                    <%= ingredient %>
                </li>
                <% }); %>
        </ul>
        
        <p>Created at: <%= recipe.created_at %>
        </p>
        <p>Updated at: <%= recipe.updated_at %>
        </p>
        <button onclick="modification()">Update</button>
    </div>

    <div id="formularContainer"></div>

    <script>
    function modification() {
        const div = document.getElementById('display');
        div.style.display = 'none';

        const formularContainer = document.getElementById('formularContainer');
        formularContainer.innerHTML = '';

        const form = document.createElement('form');
        form.action='/update';
        form.method='post';

        const idInput=document.createElement('input');
        idInput.type='hidden';
        idInput.name='id';
        idInput.value="<%= recipe._id%>";

        const nameInput = document.createElement('input');
        nameInput.type = 'text';
        nameInput.name = 'name';
        nameInput.value = "<%= recipe.name%>";
        nameInput.required = true;

        const descriptionInput = document.createElement('textarea');
        descriptionInput.name = 'description';
        descriptionInput.style.width = '50%';
        descriptionInput.style.height = '9rem';
        descriptionInput.value = "<%= recipe.description%>";
        descriptionInput.required = true;
    

        form.appendChild(idInput);
        form.appendChild(nameInput);
        form.appendChild(document.createElement('br'));

        var recipe_incredients_length = "<%= recipe.ingredients.length%>";
        for (var index = 0; index < recipe_incredients_length; index++) {
            const ingredientsInput= document.createElement('input');
            ingredientsInput.type = 'text';
            ingredientsInput.name = 'ingredients['+ index +']';
            ingredientsInput.required = true;
            var ingredient = <%- JSON.stringify(recipe) %>.ingredients;
            ingredientsInput.value = ingredient[index];
            ingredientsInput.style.width = '5rem';
            form.appendChild(ingredientsInput);
            if(index%2 == 1) {
                form.appendChild(document.createElement('br'));
            }
        }

        form.appendChild(descriptionInput);
        form.appendChild(document.createElement('br'));

        const submit = document.createElement('button');
        submit.type = 'submit';
        submit.textContent='update';

        form.appendChild(submit);
        formularContainer.appendChild(form);
    }
    
    </script>
